@import '../../variables.scss';

.container {
  width: 75vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .topbar {
    width: 100%;
    background-color: red;
    height: 4em;
  }

  .messageWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
  }
}

@media (min-width: $sm-screen) and (max-width: $md-screen) {
  .container {
    max-width: 50vw;
    z-index: 1;
    height: 100vh;
  }
}

@media (max-width: $sm-screen) {
  .container {
    width: 100vw;
    position: absolute;

    height: 100vh;
  }
}
