@import '../../../variables.scss';

.ownMessage {
  background-color: $mainColor;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.notMyMessage {
  background-color: rgb(33, 33, 33);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}

.container {
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  margin-left: 1rem;
  color: white;
  font-size: 16px;
  max-width: 40vw;

  .time {
    margin-left: 7px;
    color: rgb(160, 160, 160);
    font-size: 10px;
    float: right;
  }

  p {
    display: inline;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

@media (max-width: $sm-screen) {
  .container {
    max-width: 80vw;
  }
}
