@import '../../variables.scss';

.container {
  background-color: $secondaryBackground;
  width: 25vw;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $whiteText;

    .logoutBtn {
      margin: 15px;
      border: none;
      background-color: $blackBackground;
      color: $whiteText;
      cursor: pointer;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      margin: 15px;
    }
  }
}

@media (min-width: $sm-screen) and (max-width:$md-screen) {
  .container {
    width: 50vw;
    z-index: 2;
    height: 100vh;
  }
}

@media (max-width: $sm-screen) {
  .container {
    width: 100vw;
    position: absolute;

    height: 100vh;
  }
}
