@import '../../../variables.scss';

.container {
  input {
    width: 100%;
    border: none;
    outline: none;
    background-color: $inputBackground;
    color: white;
    padding: 0.8rem;
    font-size: larger;
  }
}
