$mainColor: rgb(121, 57, 239);
$mainColorDarker: rgb(81, 37, 162);

$whiteText: white;
$secondaryText: rgb(160, 160, 160);

$inputBackground: rgb(30, 30, 30);
$inputBackgroundDarker: rgb(20, 20, 20);
$secondaryBackground: rgb(33, 33, 33);

$blackBackground: black;

$sm-screen: 600px;
$md-screen: 1000px;
