.container {
  display: flex;
  margin: 15px;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .wrapper {
    margin-left: 15px;
    .username {
      color: white;
    }

    .message {
      color: rgb(160, 160, 160);
    }
  }
}
